.game{
width:200px;
}
.table{
    color:red;
    background-color: darkred;
    border-collapse: collapse;
}
.line{

    
}
.cell{
    width:60px;
    height:60px;
    /* border: solid red; */
    text-align:center;
    font-size: 3rem;
    
}