<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
    <h1>All Users</h1>
    <ul id="usersList"></ul>

    <script>
        fetch('/api/users')
            .then(resp => resp.json())
            .then(users => {
                console.log(users);
            });
        
        fetch('/api/users')
            .then(response => response.json())
            .then(users => {
                const list = document.getElementById('usersList');
                users.forEach(user => {
                    const li = document.createElement('li');
                    user.
                        li.textContent = user.nombre + " " + user.apellido + " (" + user.correo + ")" + user.telefono;
                    list.appendChild(li);
                });
            })
            .catch(err => console.error("Ошибка:", err));
    </script>
</body>

</html>